<?xml version='1.0' encoding='utf-8'?>
<widget id="com.pgb.brewapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
	<name>SoCenouras</name>
	<description>
		App de teste
	</description>

	<author email="zfrancajunior@gmail.com" href="http://phonegap.com">
	   Zeno França Junior
	</author>

	<preference name="phonegap-version" value="cli-6.0.0" />
</widget>
